/* Global Styles */
*{
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
.container{
  width: 80%;
}
/* Navbar Styles */
nav{
  background-color: #f1f1f1;
  display: flex;
}

nav ul li:hover{
  color: white;
}
#nav-title{
  font-size: 1.5em;
  width: 40%;
  padding: .5em 1em;
}
#nav-menu{
  font-size: 1.5em;
  width:60%;
}
#nav-menu ul{
  display: flex;
  list-style-type: none;
  justify-content: space-around;
  height: 2em;
  margin:auto;
}
#nav-menu ul li{
  padding: .625em .625em;
  cursor: pointer;
  border-left: 1px solid black;
  font-size: 1em;
}

/*Showcase---------------*/
#showcase{
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  height: 100vh;
  background-image: linear-gradient(transparent 60%, #fff),
                    url("http://res.cloudinary.com/doo35hkx4/image/upload/v1535002253/laptop.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

}
#showcase h1{
  font-size: 4em;
  color: #fff;
  text-shadow: 4px 4px black;
}
#showcase p{
  margin: 5em;
  color: #fff;
  font-size: 2em;
  text-shadow: 2px 2px black;
}
