/* Global Styles */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
.container{
  width: 60%;
  display: table-cell;
  vertical-align: middle;
}
/* Navbar Styles */
nav{
  background-color: #f1f1f1;
  display: flex;
}

nav ul li:hover{
  background-color: #555;
  color: white;
}
#nav-title{
  font-size: 1.5em;
  width: 40%;
  padding: .5em 1em;
  justify-content: center;
}
#nav-menu{
  font-size: 1.5em;
  width:60%;
}
#nav-menu ul{
  display: flex;
  list-style-type: none;
  justify-content: space-around;
}
#nav-menu ul li{
  padding: .625em .625em;
  cursor: pointer;
}
